{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('product_user') }}" class="btn btn-default">Back to Todo List</a>
    <hr/>
    <h2 class="page-header">{{ product.name }}</h2>
    <ul class="list-group">
        <li class="list-group-item">id: {{ product.id }}</li>
        <li class="list-group-item">Name: {{ product.name }}</li>
        <li class="list-group-item">brand: {{ product.brand }}</li>
        <li class="list-group-item">quantity: {{ product.quantity }}</li>
        <li class="list-group-item">price: {{ product.price }}</li>
        <li class="list-group-item">information: {{ product.information }}</li>
    </ul>
{% endblock %}